Kivy==1.9.0
argparse==1.2.1
chardet==2.3.0
colorama==0.3.3
cryptography==1.1.1
distlib==0.2.1
enum34==1.0.4
gyp==0.1
html5lib==0.999
idna==2.0
ipaddress==1.0.15
ndg-httpsclient==0.4.0
numpy==1.9.2
pbr==1.8.1
pyOpenSSL==0.15.1
pyasn1==0.1.9
pygame===1.9.1release
pygobject==3.18.2
requests==2.8.1
six==1.10.0
stevedore==1.10.0
urllib3==1.12
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.26.0
wsgiref==0.1.2
