{% extends "layout.html" %}
{% block content %}

<div class='row'>
    <div class='col-md-4 col-md-offset-3'>
        <div class='row top-margin-middle'>
            <div class="col-md-offset-3 col-md-12 h1">
                Jack Muratore
        <div class='row'>
            <div class='small col-md-11 small-indent'>
                    Site Reliability Engineer
            </div>
        </div>
            </div>
        </div>
    </div>


    <div class='col-md-4'>
        <div class='row'>
            <div class='col-md-12'>
            <pre class='code-window'><code>#include &lt;vector&gt;
#include &lt;string&gt;

using std::vector;
using std::string;

auto backend = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"C++", "python", "pypy",
&nbsp;&nbsp;&nbsp;&nbsp;"flask", "postgres", "Django",
&nbsp;&nbsp;&nbsp;&nbsp;"SQLite3", "tornado", "JavaScript",
&nbsp;&nbsp;&nbsp;&nbsp;"Elasticsearch", "Cassandra",
&nbsp;&nbsp;&nbsp;&nbsp;"Spark", "Kafka", "Redis", "Celery",
&nbsp;&nbsp;&nbsp;&nbsp;"Rabbitmq"
};


auto systems = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp; "C", "Linux", "Debian", "Centos",
&nbsp;&nbsp;&nbsp;&nbsp; "TCP/IP", "Alpine", "AWS",
&nbsp;&nbsp;&nbsp;&nbsp; "Digitalocean", "Openstack"
};


auto tools = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"Fabric", "Ansible", "Docker",
&nbsp;&nbsp;&nbsp;&nbsp;"Puppet", "Nginx", "HAProxy",
&nbsp;&nbsp;&nbsp;&nbsp;"Jenkins", "CircleCi"
};

            </code></pre>

        </div>
    </div>
</div>
</div>

{% endblock %}
