{% extends "layout.html" %}

{% block content %}
<h3>60x60 Conway's Life</h3>
<p class='h4'>
This is where it starts to slow down.
Eventually as the cell number goes down it speeds back up.
It only checks cells that are alive so less cells means
quicker.
</p>
<p class='h4'>
How large it really can go is dependant on what is running it.
An ipad would have a hard time running this 60x60 but can handle
the previous just fine. A decent desktop will run the below.
</p>
<div id='life'>
</div>
<button class='btn btn-primary' id='restart'>
Restart
</button>
<script src='static/js/underscore.js'></script>
<script src='static/js/pixi.js'></script>
<script src='static/js/life.js?v=1'></script>
<script src='static/js/graphic-life.js?v=1'></script>

<script>
$(document).ready(function() {
    var life = $('#life').Life({
        xmax:60,
        ymax:60,
        box_size:10,
    });
    $('#restart').click(function() {
        life.restart();
    });
});
</script>
{% endblock %}

