{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class='col-md-3 col-md-offset-4' style='margin-top:15%'>
        <div class="h1">Jack Muratore <span style='display:block; margin-left:4%' class="small">Full stack developer</span></div>
    </div>
    <div class="col-md-4">

<pre style='background:black;color: #909000;font-size:110%'><code>#include &lt;vector&gt;
#include &lt;string&gt;
#include &lt;tuple&gt;

using std::vector;
using std::string;
using std::make_tuple;

auto backend = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"C++", "python", "C",
&nbsp;&nbsp;&nbsp;&nbsp;"lisp", "ruby", 
&nbsp;&nbsp;&nbsp;&nbsp;"SQL", "Go"
};

auto frontend = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"JavaScript", "backbone",
&nbsp;&nbsp;&nbsp;&nbsp;"HTML", "CSS", "LESS",
&nbsp;&nbsp;&nbsp;&nbsp;"react.js", "bootstrap",
&nbsp;&nbsp;&nbsp;&nbsp;"jQuery"
};

auto devops = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"Linux", "Docker", "AWK",
&nbsp;&nbsp;&nbsp;&nbsp;"Jenkins", "Ansible"
};

auto fullstack = make_tuple(backend, frontend, devops);
</code></pre>


</div>
</div>
<div class="row">
</div>
{% endblock %}
