{% extends "layout.html" %}

{% block content %}
<article class='left-panel'>
<p>Hello. My name is Jack. I am a full stack web engineer at Commscope.</p>
<h2>My Stack</h2>
<h4>C++</h4>
 This is where I have
the most professional exprerience. I have coded in modern C++14 style and C
with classes. The latter is popular in the embedded world. 
I prefer the modern approach if given the option.
<h4>JavaScript</h4>
For frontend I like JQuery. The 
advantage it gives over browser incompatability
is too good to pass up. I frequently have to support older IE versions.
I am really excitied about webcomponents.
I have professional experience using react.js and backbone. I also have done some work
using nodejs for fast prototyping.
<h4>Python</h4>
Not the fastest language but when you want to just get things done it is hard to beat.
Development time is much quicker with the large library support and clean syntax.
It is my prefered backend language.  You can always use Cython or C++ if speed is important.
<h4>SQL</h4>
I can write any query needed but ORMs are superior. If you try to change your database
and you are using straight SQL it becomes a nightmare quick. Of course.. ORMs aren't perfect.
That is the plight of programming choices. Everything has tradeoffs.
<h4>Linux</h4>
While at heart I am a developer I also have done some devops work.
I have knowledge of jenkins, apache, docker and chef. 
Part of being a fullstack engineer is being able
to do it all if needed.
<h4>Others</h4>
I try to be language agnostic but choices have to be made.
I toy with other languages as well such as Go, Lisp, and Ruby. 
I am a fan of NoSQL but I haven't worked on a serious project that used it yet.
</article>
{% endblock %}
