{% extends "layout.html" %}
{% block content %}

<div class='row'>
    <div class='col-md-4 col-md-offset-3'>
        <div class='row top-margin-middle'>
            <div class="col-md-offset-3 col-md-12 h1">
                Jack Muratore
        <div class='row'>
            <div class='small col-md-11 small-indent'>
                    Full stack developer
            </div>
        </div>
            </div>
        </div>
    </div>


    <div class='col-md-4'>
        <div class='row'>
            <div class='col-md-12'>
            <pre class='code-window'><code>#include &lt;vector&gt;
#include &lt;string&gt;
#include &lt;tuple&gt;

using std::vector;
using std::string;
using std::make_tuple;

auto backend = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"C++", "python", "C",
&nbsp;&nbsp;&nbsp;&nbsp;"flask", "SQL", "Django"
&nbsp;&nbsp;&nbsp;&nbsp;"SQLalchemy"
};

auto frontend = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"JavaScript", "HTML",
&nbsp;&nbsp;&nbsp;&nbsp;"CSS", "LESS",
&nbsp;&nbsp;&nbsp;&nbsp;"react.js", "bootstrap",
&nbsp;&nbsp;&nbsp;&nbsp;"jQuery"
};

auto devops = vector&lt;string&gt;{
&nbsp;&nbsp;&nbsp;&nbsp;"Linux", "Docker", "npm"
&nbsp;&nbsp;&nbsp;&nbsp;"Jenkins", "Apache", "gulp",
};

auto fullstack = make_tuple(backend, frontend, devops);
            </code></pre>

        </div>
    </div>
</div>
</div>

{% endblock %}
