<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jack Muratore</title>


        <link rel="stylesheet" href="static/css/style.css">
        <script src='static/js/jquery.min.js'></script>
        <script src='static/js/bootstrap.js'></script>
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row' style='margin-top:2%'>
                <div class='col-xs-offset-1'>
                    <ul class='nav nav-pills'>
                        <li>
                            <a class='h3' href='/'>Home</a>
                        </li>
                        <li>
                            <a class='h3' href='blog/'>Blog</a>
                        </li>
                        <li>
                            <a class='h3' href='conway'>Conway's Life</a>
                        </li>
                        <li>
                            <a class='h3' href='https://github.com/banjocat/'>Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
