<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jack Muratore</title>


        <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="static/custom.css">
        <script src='static/node_modules/jquery/dist/jquery.js'></script>
        <script src='static/node_modules/bootstrap/dist/js/bootstrap.js'></script>
        <script src='static/node_modules/underscore/underscore.js'></script>

        <script src='static/jaws.js'></script>
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-md-4'>
                    <h1>Jack Muratore <span class='small'>Full stack developer</small></h1>
                </div>
                <div class='col-md-4'>
                    <a href='/'>Home</a>
                    <a href='boxinvader'>Box Invader</a>
                    <a href='conway'>Conway's Life</a>
                    <a href='https://github.com/banjocat/'>Github</a>
                    <a href='https://docs.google.com/document/d/1k5bL6RYLB1PU6WTuHFsYcvTcKTtE05997NeBoWOHdQo/pub'>Resume</a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
</div>
    </body>
</html>
