<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jack Muratore</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link rel='stylesheet/less' type='text/css' href='static/style.less'>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
        <script src='static/jaws.js'></script>
            <script>
                $(function() {
                    $('button').button();
                });
            </script>
    </head>
    <body>
        <header>
            <h1>Jack Muratore</h1>
            <h4>
                Full Stack Developer
            </h4>
            <nav>
                <a href='/'><button>Home</button></a>
                <a href='boxinvader'><button>Box Invader</button></a>
                <a href='conway'><button>Conway's Life</button></a>
                <a href='https://github.com/banjocat/'><button>Github</button></a>
                <a href='https://docs.google.com/document/d/1k5bL6RYLB1PU6WTuHFsYcvTcKTtE05997NeBoWOHdQo/pub'><button>Resume</button></a>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
